<div class="d-flex justify-content-between align-items-center">
    <h1><%= sheet.name %></h1>
    <a href="<%= sheet.link %>" target="_blank" class="btn btn-primary" rel="noopener">Accéder à la ressource</a>
</div>
<div class="d-flex justify-content-between">
    <div class="d-flex flex-column">
        <p class="d-flex"><%= sheet.description %></p>
        <p class="d-flex"><%= sheet.usage %></p>
    </div>
    <img src="<%= sheet.image %>" alt="<%= sheet.name %>" style="width: 30%; object-fit: contain;" />
</div>